WCF-Complejo/Cliente/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servidor1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servidor1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PeticionCalculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Numero1" type="xs:double" />
      <xs:element minOccurs="0" name="Numero2" type="xs:double" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeticionCalculo" nillable="true" type="tns:PeticionCalculo" />
  <xs:complexType name="RespuestaCalculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaCalculo" nillable="true" type="tns:RespuestaCalculo" />
</xs:schema>