WCF-Complejo/Cliente/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64512/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servidor1" />
  <xs:element name="Calcular">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servidor1" minOccurs="0" name="peticion" nillable="true" type="q1:PeticionCalculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servidor1" minOccurs="0" name="CalcularResult" nillable="true" type="q2:RespuestaCalculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servidor1" minOccurs="0" name="peticion" nillable="true" type="q3:PeticionCalculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servidor1" minOccurs="0" name="CalcularAsyncResult" nillable="true" type="q4:RespuestaCalculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>